<% content_for :content do %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
